<% content_for :title do %>
  <title><%= @product.kod %> - <%= @product.tytul %></title>
<% end %>

<% content_for :metatag_description do %>
  <meta name="description" content="<%= @product.kod %> - <%= @product.tytul %>">
<% end %>



<% if user_signed_in? && current_user.id == 1 %>

  <hr>

  <%= link_to 'Edytuj produkt', edit_product_path(params[:locale], @product.id), class: 'btn btn-secondary' %>
  <%= link_to 'Usuń produkt', product_path(params[:locale], @product.id), method: :delete, data: { confirm: "Czy na pewno USUNĄĆ produkt?" }, class: 'btn btn-danger ml-5' %>

  <br>
  <br>

  <table class="table border">
    <thead>
      <tr>
        <th scope="col">Pojemność</th>
        <th scope="col">Cena</th>
        <th scope="col">Waluta</th>
        <th scope="col">-</th>
        <th scope="col">-</th>
      </tr>
    </thead>
    <tbody>
      <% @volumes.each do |volume| %>
        <tr>
            <td><%= volume.pojemnosc %></td>
            <td><%= volume.cena %></td>
            <td><%= volume.waluta %></td>
            <td><%= link_to 'Edytuj', edit_product_volume_path(params[:locale], volume.product_id, volume.id), class: 'btn btn-sm btn-secondary' %></td>
            <td><%= link_to 'Usuń', product_volume_path(params[:locale], volume.product_id, volume.id), method: :delete, data: { confirm: "Czy na pewno USUNĄĆ pojemność i cenę?" }, class: 'btn btn-sm btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'Dodaj pojemność i cenę', new_product_volume_path(params[:locale], @product.id), class: 'btn btn-secondary' %>

  
  <br>
  <hr>
  <br>

<% end %>



<h4>
  <strong><%= @product.kod %></strong>
  <%= image_tag("gwiazdki#{@product.poziom}.jpg", class: 'ml-3') %>
  <%= image_tag("gwarancja#{@product.poziom}.jpg", class: 'ml-5') %>
</h4>

<strong><%= @product.tytul %></strong><br>
Poziom (<%= @product.poziom %>)<br>

<br>

<div class="container">
  <div class="row">
    
    <div class="col-12 col-md-6">
      <%= image_tag(url_for(@product.miniatura), width: '200', height: '300') %>
    </div>

    <div class="col-12 col-md-6">
      
      <% volumes_price_array = Volume.where(product_id: @product.id)
        .map { |volume| ["#{volume.pojemnosc} - #{number_to_currency(volume.cena, unit: volume.waluta + " ")}", volume.id] }
        .sort!
        .reverse!
        .keep_if { |x| x[0] =~ /.*PLN.*/ } %>

      <%= form_with(url: "/#{params[:locale]}/cart_add", method: "post") do %>
        <p>
          <br>
          Sztuk:
          <%= text_field_tag(:ilosc, 1, { class: 'form-control'}) %>
          <br>
          Pojemność:
          <%= select_tag(:wariant, options_for_select(volumes_price_array.to_a), { class: 'form-control'}) %>
        </p>

        <p><%= submit_tag('Dodaj do koszyka', data: { "disable-with": "Dodawanie..." }, class: 'btn btn-dark', id: 'dodaj-do-koszyka') %></p>
      <% end %>

    </div>

  </div>
</div>

<br>

Pojemności: <%= volumes_only(product: @product) %>

<br>
<br>

<%= @product.opis_dlugi %>

<br>
<br>

<%= render 'przypomnienie' %>
