<span>
  <%= link_to image_tag('flagi/flaga1.png'), '/pl/' + lokalizacja.to_s %>
  <%= link_to image_tag('flagi/flaga2.png'), '/en/' + lokalizacja.to_s %>
  <%= image_tag('flagi/flaga3.png') %>
  <%= image_tag('flagi/flaga4.png') %>
  <%= image_tag('flagi/flaga5.png') %>
</span>

<span>Producent środków smarujących i chemii technicznej &mdash; również w aerozolach</span>

<span class="greasy">Johansson &mdash; robi dobrze!</span>